<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid">
    <%= link_to(root_path, class: "navbar-brand") do %>
      <%= image_tag("favicon.ico", width: "24", height: "24") %> Arqshoah
    <% end %>

    <%= button_tag(sanitize("<span class='navbar-toggler-icon'></span>", { tags: %w[span] }), { class: "navbar-toggler", type: "button", data: { "bs-toggle" => "collapse", "bs-target" => "#main-navbar" }, aria: { controls: "main-navbar", expanded: "false", label: "Toggle navigation" } }) %>

    <div class="collapse navbar-collapse" id="main-navbar">
      <div class="navbar-nav w-100">
        <%= link_to(Archive.model_name.human(count: 2), archives_path, { class: "nav-link#{' active' if request.filtered_parameters[:controller] == 'archives'}", aria: { current: request.filtered_parameters[:controller] == "archives" ? "active" : nil } }) %>
        <%= link_to(Book.model_name.human(count: 2), books_path, { class: "nav-link#{' active' if request.filtered_parameters[:controller] == 'books'}", aria: { current: request.filtered_parameters[:controller] == "books" ? "active" : nil } }) %>
        <%= link_to(Education.model_name.human(count: 2), educations_path, { class: "nav-link#{' active' if request.filtered_parameters[:controller] == 'educations'}", aria: { current: request.filtered_parameters[:controller] == "educations" ? "active" : nil } }) %>
        <%= link_to(Iconography.model_name.human(count: 2), iconographies_path, { class: "nav-link#{' active' if request.filtered_parameters[:controller] == 'iconographies'}", aria: { current: request.filtered_parameters[:controller] == "iconographies" ? "active" : nil } }) %>
        <%= link_to(Savior.model_name.human(count: 2), saviors_path, { class: "nav-link#{' active' if request.filtered_parameters[:controller] == 'saviors'}", aria: { current: request.filtered_parameters[:controller] == "saviors" ? "active" : nil } }) %>
        <%= link_to(Survivor.model_name.human(count: 2), survivors_path, { class: "nav-link#{' active' if request.filtered_parameters[:controller] == 'survivors'}", aria: { current: request.filtered_parameters[:controller] == "survivors" ? "active" : nil } }) %>

        <% if admin_user_signed_in? %>
          <div class="nav-item dropdown ms-auto">
            <%= link_to(current_admin_user.email, nil, { class: "nav-link dropdown-toggle", id: "main-navbar-dropdown", role: "button", data: { "bs-toggle" => "dropdown" }, aria: { expanded: "false" } }) %>
            <div class="dropdown-menu" aria-labelledby="main-navbar-dropdown">
              <%= link_to("Admin", admin_root_path, class: "dropdown-item") %>
              <%= link_to("Logout", destroy_admin_user_session_path, method: :delete, class: "dropdown-item") %>
            </div>
          </div>
        <% else %>
          <%= link_to("Login", new_admin_user_session_path, class: "nav-link active ms-auto") %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
