<div class="container">
  <%= render "shared/show_page_header", record: @newspaper %>

  <div class="row mt-5 mb-5">
    <div class="col-12 col-md-6">
      <%= render "shared/show_page_carousel", record: @newspaper %>
    </div>

    <div class="col-12 col-md-6">
      <%= render "shared/show_page_table", record: @newspaper %>
    </div>
  </div>

  <div class="row">
    <div class="accordion" id="accordion-panels">
      <%= render "shared/accordion_items/citations", { record: @newspaper } %>
      <%= render "shared/accordion_items/rich_text", { record: @newspaper, rich_text_name: :description } %>
      <%= render "shared/accordion_items/rich_text", { record: @newspaper, rich_text_name: :observation } %>
    </div>
  </div>
</div>
