<% if record.try(rich_text_name) %>
  <div class="accordion-item">
    <h2 class="accordion-header" id="<%= "#{rich_text_name}-panel-heading" %>">
      <%= button_tag(class: "accordion-button collapsed", type: "button", data: { "bs-toggle": "collapse", "bs-target": "##{rich_text_name}-panel-collapse" }, aria: { expanded: false, controls: "#{rich_text_name}-panel-collapse" }) do %>
        <%= record.class.human_attribute_name(rich_text_name) %>
      <% end %>
    </h2>
    <div id="<%= "#{rich_text_name}-panel-collapse" %>" class="accordion-collapse collapse" aria-labelledby="<%= "#{rich_text_name}-panel-heading" %>">
      <div class="accordion-body">
        <%= record.try(rich_text_name) %>
      </div>
    </div>
  </div>
<% end %>
